* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  padding-top: 30px;
  margin-top: 0;
}

.board {
  width: 60vw;
  height: 60vw;
  display: table;
  text-align: center;
  margin: 5vh auto 0;
  background-position: center;
  background-size: zoom;
  padding: 0;
  border: none;
} 

@media screen and (min-width: 640px) {
  .board {
  width: 60vh;
  height: 60vh;
  }

  .change-game {
    left: 10%;
  }

  .change-back {
    left: 10%;
  }
}
.tablerows div {
  width: 33.3333%;
  height: 33.3333%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 10px;
  font-size: 4em;
  background-color: transparent;
  border: 4px solid black;
  padding: 0;
}

.tablerows {
  display: table-row;
  border: none;
  padding: 0;
}

.tablerows .pos1, .tablerows .pos2, .tablerows .pos3 {
  border-top: none;
}

.tablerows .pos1, .tablerows .pos4, .tablerows .pos7 {
  border-left: none;
}

.tablerows .pos3, .tablerows .pos6, .tablerows .pos9 {
  border-right: none;
}

.tablerows .pos7, .tablerows .pos8, .tablerows .pos9 {
  border-bottom: none;
}

.board-container {
  width: 80%;
  margin: 0 auto;
}

.xturn-box {
  color: red;
  opacity: 0;
  transition: 0.5s;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3em;
  text-align: center;
  width: 15%;
  margin: 20px;
  margin-left: 30px;
}

.oturn-box {
  color: blue;
  opacity: 0;
  transition: 0.5s;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 3em;
  text-align: center;
  width: 15%;
  margin: 20px;
  margin-right: 30px;
}

.results {
  font-size: 3em;
  display: none;
  background: url('wbbg.jpg');
  background-size: 100vw 100vh;
}

.cover-all {
  z-index: 1000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: 1s;
}

.win-box {
  padding: 20vh 0;
  line-height: 30vh;
  float: center;
  display: inline-block;
  font-size: 4em;
  transition: 1s;
}

.enter-score {
  font-size: 2em;
  text-align: center;
  
}

.red {
  color: red;
  border-color: red;
}

.blue {
  color: blue;
  border-color: blue;
}

.reset-ttt, .reset-hm {
  position: fixed;
  bottom: 0;
  right: 30%;
  z-index: 1001;
  width: 30vh;
  height: 10vh;
  margin-top: 40px;
  background: url('duster_burned.png');
  background-size: cover;
  background-repeat: none;
  border: none;
  box-shadow: none;
  font-size: 1.5em;
  color: white;
  background-color: transparent;
}

.x-wins li, .o-wins li {
  display: inline;
}

.x-wins {
  margin-top: 20vh;
  float: left;
  color: red;
  font-size: 1.5em;
  width: 15%;
  text-align: left;
  padding: 0;
  list-style: none;
  display: inline;
}

.o-wins {
  margin-top: 20vh;
  float: right;
  color: blue;
  font-size: 1.5em;
  width: 15%;
  text-align: right;
  padding: 0;
  list-style: none;
  display: inline;
}

.hangman {
  text-align: center;
  
}

.flip {
  transform: rotateX(360deg);
}

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
  width: 100vw;
  height: 100vh;
  transform-origin: 100% 50vh;
  background: url('wbbg.jpg');
  background-size: 100vw 100vh;
}

.hangman, .tictactoe {
  background: url('wbbg.jpg');
  background-size: 100vw 100vh;
}

.change-game {
  border: none;
  box-shadow: none;
  font-size: 1.5em;
  color: black;
  background-color: transparent;
  position: fixed;
  bottom: 5%;
  left: 20%;
  padding: 10px;
  font-family: 'Permanent Marker', cursive;
} 

.change-back {
  border: none;
  box-shadow: none;
  font-size: 1.5em;
  color: black;
  background-color: transparent;
  position: fixed;
  bottom: 5%;
  left: 20%;
  font-family: 'Permanent Marker', cursive;
} 

.display-none {
  display: none;
}

section {
  margin: 0;
}