* {
  box-sizing: border-box;
}

.board {
  /*border: 1px solid black;*/
  width: 60vh;
  height: 60vh;
  display: block;
  text-align: center;
  margin: 20vh auto 0;
  padding: 5px;
  /*background: black;*/
} 

.board div {
  border: 1px solid black;
  width: 30%;
  height: 120px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 5px;
  font-size: 4em;  
  line-height: 120px;
  /*background: white;*/
}

.board-container {
  width: 80%;
  margin: 0 auto;
}

.xturn-box {
  opacity: 0;
  transition: 0.5s;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3em;
  text-align: center;
  width: 15%
}

.oturn-box {
  opacity: 0;
  transition: 0.5s;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 3em;
  text-align: center;
  width: 15%
}

.results {

}