* {
  box-sizing: border-box;
}


.keyboard ul {
  color: black;
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.keyboard li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  font-size: 3em;
  margin-bottom: 5px;
}

.wrong ul {
  color: black;
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 35%;
}

.wrong li {
  display: inline-block;
  text-align: center;
  padding: 5px;
  color: black;
}

.wrong-box {
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 2em;
  color: black;
  text-align: left;
  width: 35%;
  padding-left: 40px;
}

.turns {
  padding: 30px;
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
  font-size: 2em;
  color: black;
  text-align: center;

}

.word-display {
  width: 70%;
  padding-top: 15vh;
  padding-bottom: 5vh; 
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 5em;
  color: black;
}

.used {
  text-decoration: line-through;
  color: red;
}

.score-box {
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
  padding: 30px;
  
}

h3 {
  display: inline-block;
    font-size: 2em;
    margin: 0;
    font-weight: normal;

}